version: 2.1

jobs:
  deploy-to-cocoapods:
    executor: xcode-12
    steps:
      - setup
      - lint-pod:
          swift-version: "5.0"
      - run: bundle exec pod trunk push

executors:
  xcode-12:
    macos:
      xcode: "12.1.0"
    environment:
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
      HOMEBREW_NO_AUTO_UPDATE: 1
    shell: /bin/bash --login -eo pipefail

commands:
  setup:
    description: "Shared setup"
    steps:
      - checkout
      - restore-gems

  restore-gems:
    description: "Restore Ruby Gems"
    steps:
      - run:
          name: Set Ruby Version
          command: echo "ruby-2.5" > ~/.ruby-version
      - restore_cache:
          key: 1-gems-{{ checksum "Gemfile.lock" }}
      - run: bundle check || bundle install --path vendor/bundle
      - save_cache:
          key: 1-gems-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

  lint-pod:
    description: "Lints podspec with specified Swift version"
    parameters:
      swift-version:
        type: string
        default: "5.0"
    steps:
      - run: bundle exec pod lib lint --swift-version=<< parameters.swift-version >>

workflows:
  version: 2
  build-test-deploy:
    jobs:
      - deploy-to-cocoapods:
          filters:
            tags:
              only: /\d+(\.\d+)*(-.*)*/
            branches:
              ignore: /.*/
