<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>PinwheelSDK</string>
    <key>CFBundleIdentifier</key>
    <string>com.pinwheel.PinwheelSDK</string>
    <key>CFBundleName</key>
    <string>PinwheelSDK</string>
    <key>CFBundlePackageType</key>
    <string>FMWK</string>
    <key>CFBundleShortVersionString</key>
    <string>3.3.1</string>
    <key>CFBundleVersion</key>
    <string>3.3.1</string>
    <key>MinimumOSVersion</key>
    <string>100.0</string>
</dict>
</plist>
